header {
    background-color: rgb(85, 40, 10);
    margin: 25px;
    border-radius: 25px;
    text-align: center;
    padding: 15px 0;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
}

body {
    background: url("https://steamuserimages-a.akamaihd.net/ugc/685970520179650230/89C35D489B097C2B3F349DC2C4BBD7F3625EADF4/?imw=1024&imh=640&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true") top center no-repeat;
    background-size: 100vw 100vh;
}

h1 {
    margin-top: 200px;
}

a:hover {
    background-color: rgb(200, 85, 10);
    border-radius: 70px;
}

a:focus {
    background-color: rgb(168, 85, 54);
}
